{% extends "base.html" %}
{% block maincontents %}
<script src="/static/echart-3.2.1/echarts.js"></script>
<div id="main" style="width: 900px;height:600px;"></div>

<script type="text/javascript">
        var count_data = {{json_count | safe}};
        var mean_data = new Array();
        for (var i = 0;i<count_data.length;i++){
            var sum = 0;
            for (var j = 0;j<=i;j++){
                sum = sum + count_data[j];
            }
            mean = sum/(i+1);
            mean_data.push(mean);
        }
        mean_data.pop();
        console.log(mean_data);
        var static_down = mean_data.map(function (item){
            return parseInt(item - 3 * Math.sqrt(item));
        });
        var static_up = mean_data.map(function (item){
            return parseInt(6 * Math.sqrt(item));
        });
        //用于上限的数值显示
        var static_up_value = static_down.map(function (item, i){
            return item + static_up[i];
        });
        //console.log(static_down);
        //console.log(static_up);
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
    	    title : {
    	        text: '单位发现问题',
    	        subtext: '每月统计',
    	        x:'center'
    	    },
    	    tooltip : {
                show: false,
    	        trigger: 'axis',
    	        formatter: "{a} <br/>{b} : {c}"
    	    },
    	    legend: {
    	        left: 'left',
    	        data: ['发现问题数']
    	    },
            dataZoom:{
                show:true,
                realtime:true,
            },
            xAxis: {
                type: 'category',
                data:{{json_month | safe}},
                name:"月份"
            },
            yAxis:{
                type:'value',
                name:"数量"
            },
    	    series : [
                {
                    name: '下线',
                    type: 'line',
                    data: static_down,
                    lineStyle: {
                        normal: {
                            opacity: 0
                        }
                    },
                    stack: 'confidence-band',
                    label: {
                        normal: {
                            show: true,
                            position: 'top'
                        }
                    },
                }, {
                    name: '上线',
                    type: 'line',
                    data: static_up,
                    lineStyle: {
                        normal: {
                            opacity: 0
                        }
                    },
                    areaStyle: {
                        normal: {
                            color: '#ccc'
                        }
                    },
                    stack: 'confidence-band',
                    label: {
                        normal: {
                            show: true,
                            position: 'top',
                            //显示上限的真实值
                            formatter: function (params) {
                                    return static_up_value[params['dataIndex']];
                            }
                        }
                    },
                },
    	        {
                    name: '发现问题数',
                    type: 'line',
                    center: ['50%', '60%'],
                    data:{{json_count | safe}},
                    itemStyle: {
                        normal:{ 
                            label:{ 
                               show: true, 
                               formatter: '{c}' 
                            }, 
                            labelLine :{show:true}
                        }
                    }
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
</script>
{% endblock %}