{% extends "base.html" %}
{% block maincontents %}
<script src="/static/echart-3.2.1/echarts.js"></script>
<div id="main" style="width: 1200px;height:800px;"></div>

<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var get_data = {{ json_data | safe}}
        var myChart = echarts.init(document.getElementById('main'));
        var array_team_name = {{ json_team_name | safe}}
        // 指定图表的配置项和数据
        var option = {
    	    title : {
    	        text: '班组发现问题走势',
    	        x:'center'
    	    },
    	    tooltip : {
                show: false,
    	        trigger: 'axis',
    	        formatter: "{a} <br/>{b} : {c}"
    	    },
    	    legend: {
    	        left: 'left',
    	        data: ['班组级发现问题数','自查占比']
    	    },
            dataZoom: {
                show: true,
                realtime:true,
                xAxisIndex: [0,1,2,3],
            },
            grid: [
                {x: '7%', y: '7%', width: '38%', height: '38%'},
                {x2: '7%', y: '7%', width: '38%', height: '38%'},
                {x: '7%', y2: '7%', width: '38%', height: '38%'},
                {x2: '7%', y2: '7%', width: '38%', height: '38%'}
            ],
            xAxis: [{
                type: 'category',
                data:{{json_month | safe}},
                name:array_team_name[0],
                nameGap: 30,
                nameLocation: 'middle',
                gridIndex: 0
            },{
                type: 'category',
                data:{{json_month | safe}},
                name:array_team_name[1],
                nameGap: 30,
                nameLocation: 'middle',
                gridIndex: 1
            },{
                type: 'category',
                data:{{json_month | safe}},
                name:array_team_name[2],
                nameGap: 30,
                nameLocation: 'middle',
                gridIndex: 2
            },{
                type: 'category',
                data:{{json_month | safe}},
                name:array_team_name[3],
                nameGap: 30,
                nameLocation: 'middle',
                gridIndex: 3
            }],
            yAxis:[
                {   
                    type:'value',
                    gridIndex: 0
                },
                {
                    type:'value',
                    show:false,
                    min: 0,
                    max: 150,
                    interval: 5,
                    gridIndex: 0,
                    axisLabel: {
                        formatter: '{value} %'
                    }
                },
                {   
                    type:'value',
                    gridIndex: 1
                },
                {
                    type:'value',
                    show:false,
                    min: 0,
                    max: 150,
                    interval: 5,
                    gridIndex: 1,
                    axisLabel: {
                        formatter: '{value} %'
                    }
                },
                {   
                    type:'value',
                    gridIndex: 2
                },
                {
                    type:'value',
                    show:false,
                    min: 0,
                    max: 150,
                    interval: 5,
                    gridIndex: 2,
                    axisLabel: {
                        formatter: '{value} %'
                    }
                },
                {   
                    type:'value',
                    gridIndex: 3
                },
                {
                    type:'value',
                    show:false,
                    min: 0,
                    max: 150,
                    interval: 5,
                    gridIndex: 3,
                    axisLabel: {
                        formatter: '{value} %'
                    }
                }
            ],
    	    series : [
    	        {
                    name: '发现问题数',
                    type: 'line',
                    center: ['50%', '60%'],
                    data:get_data[array_team_name[0]]['total'],
                    xAxisIndex: 0,
                    yAxisIndex: 0,
                    itemStyle: {
                        normal:{ 
                            label:{ 
                               show: true, 
                               formatter: '{c}' 
                            }, 
                            labelLine :{show:true}
                        }
                    }
                },
                {
                    name: '自查占比',
                    type: 'line',
                    xAxisIndex: 0,
                    yAxisIndex: 1,
                    center: ['50%', '60%'],
                    data:get_data[array_team_name[0]]['percent'],
                    itemStyle: {
                        normal:{ 
                            label:{ 
                               show: true, 
                               formatter: '{c} %' 
                            }, 
                            labelLine :{show:true}
                        }
                    }
                },
                {
                    name: '发现问题数',
                    type: 'line',
                    center: ['50%', '60%'],
                    data:get_data[array_team_name[1]]['total'],
                    xAxisIndex: 1,
                    yAxisIndex: 2,
                    itemStyle: {
                        normal:{ 
                            label:{ 
                               show: true, 
                               formatter: '{c}' 
                            }, 
                            labelLine :{show:true}
                        }
                    }
                },
                {
                    name: '自查占比',
                    type: 'line',
                    xAxisIndex: 1,
                    yAxisIndex: 3,
                    center: ['50%', '60%'],
                    data:get_data[array_team_name[1]]['percent'],
                    itemStyle: {
                        normal:{ 
                            label:{ 
                               show: true, 
                               formatter: '{c} %' 
                            }, 
                            labelLine :{show:true}
                        }
                    }
                },
                {
                    name: '发现问题数',
                    type: 'line',
                    center: ['50%', '60%'],
                    data:get_data[array_team_name[2]]['total'],
                    xAxisIndex: 2,
                    yAxisIndex: 4,
                    itemStyle: {
                        normal:{ 
                            label:{ 
                               show: true, 
                               formatter: '{c}' 
                            }, 
                            labelLine :{show:true}
                        }
                    }
                },
                {
                    name: '自查占比',
                    type: 'line',
                    xAxisIndex: 2,
                    yAxisIndex: 5,
                    center: ['50%', '60%'],
                    data:get_data[array_team_name[2]]['percent'],
                    itemStyle: {
                        normal:{ 
                            label:{ 
                               show: true, 
                               formatter: '{c} %' 
                            }, 
                            labelLine :{show:true}
                        }
                    }
                },
                {
                    name: '发现问题数',
                    type: 'line',
                    center: ['50%', '60%'],
                    data:get_data[array_team_name[3]]['total'],
                    xAxisIndex: 3,
                    yAxisIndex: 6,
                    itemStyle: {
                        normal:{ 
                            label:{ 
                               show: true, 
                               formatter: '{c}' 
                            }, 
                            labelLine :{show:true}
                        }
                    }
                },
                {
                    name: '自查占比',
                    type: 'line',
                    xAxisIndex: 3,
                    yAxisIndex: 7,
                    center: ['50%', '60%'],
                    data:get_data[array_team_name[3]]['percent'],
                    itemStyle: {
                        normal:{ 
                            label:{ 
                               show: true, 
                               formatter: '{c} %' 
                            }, 
                            labelLine :{show:true}
                        }
                    }
                },
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
</script>
{% endblock %}