{% extends "base.html" %}
{% block maincontents %}
<script src="/static/echart-3.2.1/echarts.js"></script>
<div id="main" style="width: 600px;height:400px;"></div>

<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var source = {{ source | safe }};
        var title = "{{ title }}";
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
    	    title : {
    	        text: '三级监管发现问题占比汇总',
    	        x:'center'
    	    },
    	    tooltip : {
    	        trigger: 'item',
    	        formatter: "{a} <br/>{b} : {c} ({d}%)"
    	    },
    	    legend: {
    	        orient: 'vertical',
    	        left: 'left',
    	        data: ['质量监管','车间监管','班组自查']
    	    },
    	    series : [
    	        {
                    name: '信息来源',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:[
                    	{value: source['质量监管'], name:'质量监管'},
                        {value: source['车间监管'], name:'车间监管'},
                        {value: source['班组自查'], name:'班组自查'},      
                    ],
                    itemStyle: {
                        normal:{ 
                            label:{ 
                               show: true, 
                               formatter: '{b} : {c} ({d}%)' 
                            }, 
                            labelLine :{show:true}
                        }
                    }
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
</script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<link rel="stylesheet" media="screen" href="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
<label>单月查询:</label>
<input size="16" type="text" placeholder="请点击选择月份" readonly class="form_datetime" id="month">
<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm',
        startView: 'year',
        minView: "year", //选择日期后，不会再跳转去选择时分秒 
        language: 'zh-CN', //汉化 
        autoclose: true //选择日期后自动关闭
    });
    
    $('.form_datetime').datetimepicker().on('changeDate', function(ev){
        var year_month = document.getElementById("month").value
        console.log(year_month);
        $.ajax({
            type:"GET",
            data: {
                value_conf:year_month, 
            },
            url: "{% url 'source_month' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
            cache: false,
            dataType: "json",
            beforeSend: function () {
            },
            success: function(get_result, statues, xml){
                console.log(get_result);
                var source = get_result;
        
            var myChart = echarts.init(document.getElementById('month_pie'));

            // 指定图表的配置项和数据
            var option = {
                title : {
                    text: '单位发现问题占比单月',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['质量监管','车间监管','班组自查']
                },
                series : [
                    {
                        name: '信息来源',
                        type: 'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value: source['质量监管'], name:'质量监管'},
                            {value: source['车间监管'], name:'车间监管'},
                            {value: source['班组自查'], name:'班组自查'},      
                        ],
                        itemStyle: {
                            normal:{ 
                                label:{ 
                                   show: true, 
                                   formatter: '{b} : {c} ({d}%)' 
                                }, 
                                labelLine :{show:true}
                            }
                        }
                    }
                ]
            };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

                },
            error: function(){
                alert("查询失败，该月无数据");
            }
        });
    });

</script>
<div id="month_pie" style="width: 600px;height:400px;"></div>
{% endblock %}